# Python
__pycache__/
*.pyc
venv/

# Environment variables
.env

# Jupyter Notebook Files
.ipynb_checkpoints

# IDE files
.vscode/
.idea/

# Operating System files
.DS_Store

# Dash and Plotly cache
*.plotly
